[Azure]
azurestorageconnectionstring = "DefaultEndpointsProtocol=https;AccountName=dataengineers1999;AccountKey=2VAl2bhZkkb7Dl6IBa0hOzwZEIzCRgYPvE4kskBzwYddlVbANC39t7oGO9u45PLpS0TEOqOG3ZQP+AStpYmPIw==;EndpointSuffix=core.windows.net"

[BlobStorage]
cantainer_name  = "raw"
cantainer_name2 = "proccessed"

[LocalDisk]
localpath = C:/Users/info/Desktop/deloitte PFE/local_disk
localpaths = "C:/Users/info/Desktop/deloitte PFE/local_disk"


#azure.core.exceptions.ResourceExistsError